// ------------------------------------------------------------------
// Odoo
// ------------------------------------------------------------------

// This file is necessary to make the community edition of the Odoo web
// client compatible with the enterprise edition.  

// The problem is that we have two web clients in parallel, and every
// addons should behave properly with both.

@odoo-brand-optional-disabled: #6ED0BC; // Specifically used for status bar status arrows
@odoo-brand-primary: #337ab7;
@odoo-brand-optional: @odoo-brand-primary;
@odoo-brand-secondary: #8f8f8f;
@odoo-form-group-cols: 12;
@odoo-horizontal-padding: 16px;
@odoo-list-grey: #e2e2e0;  // FIXME: listview thead background color
@odoo-main-color-muted: #a8a8a8;
@odoo-main-text-color: #666666;
@odoo-webclient-background-color: @odoo-brand-secondary;
@odoo-view-background-color: white;
@odoo-shadow-color: #303030;
@brand-primary: @odoo-brand-primary;

.oe-view-manager {
    background-color: #f0eeee !important;
}

.o_kanban_view {
    background-color: #f0eeee;
    .o_kanban_header {
        color: black !important;
    }

    .o_kanban_config i, .o_kanban_quick_add i {
        color: #555 !important;
        &:hover {
            background-color: darken(#f0eeee, 10%) !important;
        }
    }

    .o_column_folded {
        background-color: #f0eeee !important;
        border: none !important;
        span.o_column_title, span.o_column_unfold {
            // color: white !important;
        }
    }

    .o_column_quick_create {
        background-color: #f0eeee !important;
        .o_kanban_add_column, .o_kanban_title {
            color: black !important;
        }

    }
}

.oe_list {
    background-color: white !important;
}

.btn-icon {
    .btn-default;
}

.openerp .oe_avatar {
    float: left;
}

.openerp .oe_button_box {
    float: right;
}

@grid-gutter-width: 0;

.oe-control-panel .row {
    margin-left: 15px;
    margin-right: 15px;
}

// Pager input (to edit pager values)
.o_pager_value > input {
    width: 60px;
    text-align: right;
    &:focus {
        outline: none;
    }
}

.oe_form_field_one2many, .oe_form_field_many2many {
    .oe-view-manager {
        background-color: white;

        .o_kanban_view {
            background-color: white;

            .o_kanban_record {
                box-shadow: none;
            }
        }
    }
}

// Buttons containing only an icon
.o_icon_button {
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
}

// Stars
.o_priority {
    display: inline-block;
    padding: 0;
    margin: 0;
    > a {
        display: inline-block;
    }
    .o_star_on, .o_star_off {
        color: @odoo-main-color-muted !important;
        &:hover {
            text-decoration: none;
        }
    }
    .o_star_on {
        color: gold !important;
    }
}

.o_text_overflow {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top; // To update display context changed by overflow:hidden
}

.oe-x2m-control-panel {
    background-color: white;
}

.openerp .oe_formview {
   .oe_button_box {
        .oe_stat_button {
            .stat_button_icon {
                display: inline-block;
            }

            // padding: @odoo-statbutton-vpadding @odoo-statbutton-spacing @odoo-statbutton-vpadding 0px;
            text-align: left;

            .o_button_icon {
                // margin-left: @odoo-statbutton-spacing; // To create the button padding left (firefox bug)
                display: inline-block;
                vertical-align: middle;
                &:before {
                    font-size: x-large;
                    vertical-align: middle;
                }

                width: 30%;
            }

            // .o_form_field_percent_pie {
            //     margin-left: @odoo-statbutton-spacing; // To create the button padding left (firefox bug)
            // }

            .o_stat_info { // contains the value and text
                display: inline-block;
                vertical-align: middle;

                max-width: 70%;
                // padding-right: @odoo-statbutton-spacing;
                line-height: 1.2;

                .o_stat_value {
                    .o_text_overflow;
                    font-weight: 700;
                    color: @odoo-brand-primary;
                }
                .o_stat_text {
                    .o_text_overflow;
                    font-size: small;

                    .o_stat_value {
                        display: inline;
                    }
                }
            }

            // Some buttons only display text and directly use the WidgetButton template instead of StatInfo
            > span {
                .o_stat_info; // layout
                font-size: small;
                white-space: normal; // text on several lines if needed
            }
        }

        + .oe_title {
            width: 400px;
        }

        + .oe_avatar {
            > img {
                max-width: 90px;
                max-height: 90px;
            }

            + .oe_title {
                width: 400px;
                padding-left: 95px;
            }
        }
    }

    .o_row > * {
        width: auto!important; // oe_inline

        &.oe_form_field_many2one, &.o_form_field_many2manytags {
            width: 100%!important;
        }
    }

    .o_form_field_many2manytags {
        .o-flex-display();
        .o-flex-flow(row, wrap);
        .o-align-items(flex-start);

        .badge {
            .o-flex(0, 0, auto);
            margin: 0 3px 3px 0;
            .o_delete {
                cursor: pointer;
            }
        }

        padding: 0;
        > .oe_form_field_many2one {
            padding: 0;
        }
    }

    &.oe_form_editable .o_form_field_many2manytags {
        border: 1px solid #CCC;
        border-radius: 3px;

        > .oe_form_field {
            .o-flex(1, 0, 100px);

            input {
                border: none;
            }
        }
    }

    .o_address_format {
        width: 100%;

        > .oe_form_field {
            width: auto;
            display: block;
        }

        > .o_address_street, > .o_address_country {
            clear: left;
            width: 100%;
        }
        > .o_address_city, > .o_address_state, > .o_address_zip {
            float: left;
            margin-right: 2%;
        }
        > .o_address_zip {
            margin-right: 0;
        }
    }
    &.oe_form_editable .o_address_format {
        > .o_address_city {
            width: 38%;
        }
        > .o_address_state {
            width: 33%;
        }
        > .o_address_zip {
            width: 25%;
        }
    }
}
