.o_kanban_view {

    &.o_kanban_mobile {
        .o_kanban_record {
            width: 400px;
        }
        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
    }

    &.o_kanban_dashboard {

        .o_visible {
            width: 100%;
        }

        /* This is a hack but this is the least ugly way to do it:
         * We want two blocks (a visible one and an invisible one)
         * to be overlap but both height should be equal to the
         * height of the biggest block. Solution : put 0 width for
         * the invisible on. The 0 padding and margin is mandatory for
         * the elements to use the same space in both state (visible
         * and invisible).
        */
        .o_invisible {
            width: 0;
            visibility: hidden;
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            
            * {
                padding-left: 0px !important;
                padding-right: 0px !important;
                margin-left: 0px !important;
                margin-right: 0px !important;
            }


            .oe_kanban_colorpicker {

                li {
                    height: 0px;
                }
            }
        }

        // If invisible, elem will no take more than its original height
        a, span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            display: block;
        }

        .o_kanban_record {
            padding: 0;
            position: relative;
            margin: 4px 8px;
        }

        a {
            color: @odoo-brand-optional;
        }

        .o_kanban_card_header {
            .o-flex-display();
            background-color: lightgrey;
            position: relative;

            .o_kanban_card_header_title {
                .o-flex(3, 0, 0);
                padding: 8px 16px;

                .o_primary {
                    color: @odoo-brand-optional;
                    font-weight: 700;
                }

                .o_secondary {
                }
            }

            .o_kanban_manage_button_section {
                .o-flex(1, 0, 0);
                padding: 16px;

                .o_kanban_manage_toggle_button {
                    text-align: right;
                }
            }
        }

        .o_kanban_card_content {
            display: inline-block;
            vertical-align: top;

            .o_kanban_primary_left {
                padding: 16px;
            }
            .o_kanban_primary_right {
                padding: 16px;
            }
            .o_kanban_primary_bottom {
                background-color: lightgrey;
                position: absolute;
                bottom: 0;
                padding: 15px;
            }
        }

        .o_kanban_card_manage_pane {
            display: inline-block;
            vertical-align: top;
            padding: 0 8px;
        }

        .o_kanban_card_manage_section {
            padding: 8px;
        }

        .o_kanban_card_manage_title {
            font-weight: bold;
            border-color: lightgrey;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        .o_kanban_card_manage_settings {
            text-align: right;
            padding: 8px;

            border-color: lightgrey;
            border-top-style: solid;
            border-top-width: 1px;
        }
    }
}