.o_kanban_view {
    .oe_kanban_mass_mailing {
        .o_progressbar .o_progressbar_title {
            width: 25%;
        }
        .o_progressbar .o_progress {
            width: 50%;
        }
        .o_progressbar .o_progressbar_value {
            width: 25%;
        }
        .o_title {
            margin-bottom: 16px;
        }
        .o_kanban_primary_bottom {
            margin-top: 16px;
        }
        .oe_margin_top_8 {
            margin-top: 8px;
        }
        .oe_margin_bottom_8 {
            margin-bottom: 8px;
        }
    }
}
