.o_kanban_view.o_kanban_dashboard.o_account_kanban {
    .o_kanban_record {
        min-width: 500px;
        max-width: 650px;

        .o_kanban_card_settings {
            padding: 8px;

            border-color: lightgrey;
            border-top-style: solid;
            border-top-width: 1px;
        }
        .o_kanban_graph_section {
            padding: 16px;
        }
        .o_dashboard_star {
            font-size: 12px;
            margin-left: 5px;
        }
    }
}
